<div>
  <h2 id="page-heading" data-cy="ServicioDeProveedorHeading">
    <span jhiTranslate="oncallApp.servicioDeProveedor.home.title">Servicio De Proveedors</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="oncallApp.servicioDeProveedor.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-servicio-de-proveedor"
        [routerLink]="['/servicio-de-proveedor/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="oncallApp.servicioDeProveedor.home.createLabel">Crear nuevo Servicio De Proveedor</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (servicioDeProveedors().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="oncallApp.servicioDeProveedor.home.notFound">Ningún Servicio De Proveedors encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="nombre">
              <div class="d-flex">
                <span jhiTranslate="oncallApp.servicioDeProveedor.nombre">Nombre</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="identificadorExterno">
              <div class="d-flex">
                <span jhiTranslate="oncallApp.servicioDeProveedor.identificadorExterno">Identificador Externo</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="descripcion">
              <div class="d-flex">
                <span jhiTranslate="oncallApp.servicioDeProveedor.descripcion">Descripcion</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="slaRespuestaMinutos">
              <div class="d-flex">
                <span jhiTranslate="oncallApp.servicioDeProveedor.slaRespuestaMinutos">Sla Respuesta Minutos</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="activo">
              <div class="d-flex">
                <span jhiTranslate="oncallApp.servicioDeProveedor.activo">Activo</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="proveedor.nombre">
              <div class="d-flex">
                <span jhiTranslate="oncallApp.servicioDeProveedor.proveedor">Proveedor</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (servicioDeProveedor of servicioDeProveedors(); track trackId(servicioDeProveedor)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/servicio-de-proveedor', servicioDeProveedor.id, 'view']">{{ servicioDeProveedor.id }}</a>
              </td>
              <td>{{ servicioDeProveedor.nombre }}</td>
              <td>{{ servicioDeProveedor.identificadorExterno }}</td>
              <td>{{ servicioDeProveedor.descripcion }}</td>
              <td>{{ servicioDeProveedor.slaRespuestaMinutos }}</td>
              <td>{{ servicioDeProveedor.activo }}</td>
              <td>
                @if (servicioDeProveedor.proveedor) {
                  <div>
                    <a [routerLink]="['/proveedor', servicioDeProveedor.proveedor.id, 'view']">{{
                      servicioDeProveedor.proveedor.nombre
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['/incidente-de-proveedor']"
                    [queryParams]="{ 'filter[servicioDeProveedorId.in]': servicioDeProveedor.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye" />
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('oncallApp.servicioDeProveedor.ticket' | translate) }"
                      >Show Ticket</span
                    >
                  </button>
                  <a
                    [routerLink]="['/servicio-de-proveedor', servicioDeProveedor.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a
                    [routerLink]="['/servicio-de-proveedor', servicioDeProveedor.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(servicioDeProveedor)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (servicioDeProveedors().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
